// .desktop {
// 	left: 50%;
//   margin-left: -289.5px;
// }

main {
	display: block;
	
}

.grid {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.page-content {
	margin-top: -60px;
}

.landing {
	display: flex;
	height: 100%;
	border-bottom: none;
	align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	justify-content: center;
  padding: 72px 0;
}

.grid-content {
	box-sizing: border-box;
	padding: 72px 50px 0;
	max-width: 1200px;
	position: relative;
	z-index: 1;
}

.main-header {
	color: #fff;
	font-size: 36px;
	text-align: center;
}

.sub-header {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 710px;
	font-size: 16px;
	text-align: center;
}

section {
	font-weight: 400;
}

section h1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

section p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-top: 12px;
}

div {
	font-style: inherit;
	font-family: inherit;
  font-size: 100%;
}