.base {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	overflow: hidden;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 72px;
	right: 0;
	bottom: 0;
}

.content-1 {
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	-webkit-box-pack: start;
	justify-content: start;
	min-width: 0;
	min-height: 0;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.sidebar {
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	overflow: hidden;
	min-height: 0;
	width: 240px;
	flex: 0 0 auto;
	background: #2C2F33;
}

.serverChannels {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	user-select: none;
	-webkit-box-flex: 1;
	flex: 1;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background-color: #2C2F33;
}

.serverChannels > ul {
	margin-top: -8px;

}

.searchBar {
	position: relative;
	z-index: 2;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	padding: 0 10px;
	height: 48px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	box-shadow: #2C2F33;
}

.searchButton {
	width: 100%;
	height: 28px;
	overflow: hidden;
	border-radius: 4px;
	background-color: #202225;
	box-shadow: none;
	color: #72767D;
	text-align: left;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	white-space: nowrap;
	padding: 1px 7px 2px;
	border: 0;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}

.mainContent {
	display: flex;
	width: 100%;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background-color: #36393f;
}

#deleteChannel {
	color: #F04747;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 15px;
}

// .deleteCh {
// 	display: none;
// }

.serverTitle > h1 {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	margin-top: -5px;
	text-align: center;
	color: #7289da;
}

.hashtag {
	display: block;
	width: 20px;
	height: 20px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	color: #72767d;
}

.channelLink {
	margin-left: 5px;
}