// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messageLi {
	margin: 2px;
	padding: 5px;
	list-style: decimal;
	color: #dcddde;
	user-select: text;
	margin-left: -72px;
	padding-left: 72px;
	overflow: hidden;
	text-indent: 0;
}

.chatroom-container {
	margin: 2px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message-list {
	margin: 2px;
	padding: 5px;
	overflow-y: scroll;
	height: 300px;
	width: 400px;
	border: solid gray 1px;
}

.load-button {
	margin: 2px;
	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.messageInput:focus {
	outline: none;
}

