.appMount {
	background-color: var(--background-tertiary);
	text-rendering: optimizeLegibility;
	position: absolute;
	overflow: hidden;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.scroll2 {
	user-select: none;
	padding: 12px 0 0;
	overflow-x: hidden;
	background-color: #23272A;
	contain: layout size;
}

.scroll {
	position: relative;
	min-height: 0;
	overflow-y: scroll;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.listItem {
	position: relative;
	margin: 0 0 8px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 72px;
}

.pill-1 {
	position: absolute;
	top: 0;
	left: 0;
}

.pillWrapper {
	overflow: hidden;
	width: 8px;
	height: 48px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	contain: layout size;
}

.item-2 {
	opacity: 1;
	height: 40px;
	transform: none;
	position: absolute;
	display: block;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	background-color: white;
	//background-color: var(--header-primary);
}

.logoWrapper {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	position: relative;
	cursor: pointer;
}

.svg-1 {
	position: absolute;
	top: 0;
	left: 2;
	box-sizing: border-box;
	height: 48px;
	width: 48px;
}

.serverSeperator {
	height: 2px;
	width: 32px;
	border-radius: 1px;
	border-color: white;
}

.pill-2 {
	position: absolute;
	left: 0;
	top: 0;
}

.item-2b {
	opacity: 1;
	height: 8px;
	transform: none;
	position: absolute;
	display: block;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	background-color: white;
}

.iconWrapper {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
}

.blobWrapper-2{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	pointer-events: none;
}

.edge {
	flex-basis: 25%;
}

.middle {
	-webkit-box-flex: 1;
	flex: 1;
}

.addServer {
	color: #DC143C;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	border-radius: 50%;
	background-color: #37383f;
	justify-content: center;
	font-weight: 400;
	font-size: 26px;
	overflow: hidden;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	margin-left: 10px;
}

.scrollWrap {
	width: 90px;
	min-height: 0;
	min-width: 0;
	position: relative;
	display: flex;
	height: 100%;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.logoutButton {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}