.userServers {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 20px;
	justify-content: center;
	margin-top: -15px;
	
}

.userServers > .serverLink > li {
	margin-bottom: 5px;
	align-items: center;
	color: white;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: #37383f;
	font-weight: 400;
	font-size: 16px;
	overflow: hidden;
	height: 40px;
	// min-height: 50px;
	// max-height: 50px;
	width: 40px;
	// min-width: 50px;
	// max-width: 50px;
	margin-left: 10px;
	margin-left: -15px;
	text-align: center;
	padding: 12px;
	transition: all .2s ease-out;
}

.userServers > .serverLink > li:hover {
	background-color: #7289da;
	cursor: pointer;
	border-radius: 30%;
	transition: all .2s ease-in;
}

.userServers > li > a {
	color: #dcddde;
}

.addServer {
	cursor: pointer;
	color: #43b581;
}

.addServer:hover {
	color: #FFF;
	background-color: #43b581;
}

.selected {
	background-color: #F04747;
}

.logoutContainer {
	margin-top: 650%;
}

.deleteContainer {
	font-family: "Roboto";
	font-size: 16px;
	color: #F04747;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}