.appMount {
	background-color: var(--background-tertiary);
	text-rendering: optimizeLegibility;
	position: absolute;
	overflow: hidden;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.scroll2 {
	user-select: none;
	padding: 12px 0 0;
	overflow-x: hidden;
	background-color: #23272A;
	contain: layout size;
}

.scroll {
	position: relative;
	min-height: 0;
	overflow-y: scroll;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.listItem {
	position: relative;
	margin: 0 0 8px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 72px;
}

.pill-1 {
	position: absolute;
	top: 0;
	left: 0;
}

.pillWrapper {
	overflow: hidden;
	width: 8px;
	height: 48px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	contain: layout size;
}

.item-2 {
	opacity: 1;
	height: 40px;
	transform: none;
	position: absolute;
	display: block;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	background-color: white;
	//background-color: var(--header-primary);
}

.logoWrapper {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	position: relative;
	cursor: pointer;
	
}

.svg-1 {
	position: absolute;
	top: 0;
	left: 2;
	box-sizing: border-box;
	height: 48px;
	width: 48px;
}

.serverSeperator {
	height: 2px;
	width: 32px;
	border-radius: 1px;
	border-color: white;
}

.pill-2 {
	position: absolute;
	left: 0;
	top: 0;
}

.item-2b {
	opacity: 1;
	height: 8px;
	transform: none;
	position: absolute;
	display: block;
	width: 8px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	background-color: white;
}

.iconWrapper {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
}

.blobWrapper-2{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	pointer-events: none;
}

.edge {
	flex-basis: 25%;
}

.middle {
	-webkit-box-flex: 1;
	flex: 1;
}

.addServer {
	color: #8e9297;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	border-radius: 50%;
	background-color: #37383f;
	justify-content: center;
	font-weight: 400;
	font-size: 24px;
	overflow: hidden;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	margin-left: 10px;
	margin-top: 50vh;
}

.scrollWrap {
	width: 90px;
	min-height: 0;
	min-width: 0;
	position: relative;
	display: flex;
	height: 100%;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.logoutButton {
	margin-top: 20px;
	border-radius: 5px;
	// position: absolute;
	margin-left: -5px;
	cursor: pointer;
	// background-color: transparent;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	position: relative;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	background: none;
}

.logoutButton:hover {
	color: red;
	border-color: red;
}

.chatroom-container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	min-height: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: flex;
	outline: 0;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
	z-index: 0;
	overflow: hidden;
	height: auto;
	overflow-y: scroll;
}

.message-list {
	color: #fff;
	border: none;
	width: 100%;
	//height: fit-content;
	//contain: size;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	//position: relative;
	//min-height: 0;
	flex: 1 1 auto;
	overflow-y: scroll;
	height: auto;
	margin-left: 10px;
	font-family: "Roboto", sans-serif;
	
	// overflow: hidden;
  
}

.username {
	margin-bottom: 5px;
	margin-right: .25rem;
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
	vertical-align: baseline;
	position: relative;
}

.chatRoom {
	display: flex;
	justify-content: stretch;
	position: relative;
	align-items: stretch;
	flex: 1 1 auto;
}

.mainContent {
	overflow-y: scroll;
	margin-bottom: 5px;
}

.message-form-container {
	width: 100%;
	margin-left: 40px;
	margin-right: 50px;
	position: relative;
	text-indent: 0;
	border-radius: 8px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #40444b;
	
}

.message-form > input {
	border: none;
	color: #fff;
}




