.gridContentFull {
	max-width: 100%;
	width: 100%;
}

.images {
	position: relative;
	height: 638px;
	overflow: hidden;
	user-select: none;
}

.imageShadow {
	left: 50%;
	margin-left: -650px;
	bottom: 0;
	border-radius: 50px;
	width: 1300px;
	height: 50px;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	transition: all .5s ease;
}

.svg {
	position: absolute;
	transition: all .5s ease;
	bottom: 10px;
}

.background {
	opacity: .3;
}

.triangle0 {
	left: 50%;
	margin-left: -579px;
	bottom: 300px;
	
}

.triangle1 {
	margin-left: 31px;
	bottom: 550px;
	left: 50%;

}

.triangle2 {
	left: 50%;
	margin-left: -289px;
	bottom: 448px;

}

.dot0 {
	margin-left: 599px;
	bottom: 200px;
	left: 50%;
}

.dot1 {
	left: 50%;
	margin-left: -319px;
	bottom: 600px;
}

.dot2 {
	margin-left: 181px;
	bottom: 500px;
	left: 50%;
}

.dot3 {
	left: 50%;
	margin-left: 531px;
	bottom: 600px;
}

.dot4 {
	margin-left: 621px;
	bottom: 140px;
	left: 50%;
}

.circle {
	left: 50%;
	margin-left: -359px;
	bottom: 530px;
}

.circle1 {
	left: 50%;
	margin-left: 576px;
	bottom: 280px;
}

.circle2 {
	left: 50%;
	margin-left: 199px;
	bottom: 88px;
}

.square0 {
	left: 50%;
	margin-left: 17px;
	bottom: 92px;
}

.square1 {
	margin-left: 431px;
	bottom: 400px;
	left: 50%;
}

.square2 {
	left: 50%;
	margin-left: 331px;
	bottom: 600px;
}

.x0 {
	margin-left: 101px;
	bottom: 440px;
	left: 50%;
}

.x1 {
	left: 50;
	margin-left: 541px;
	bottom: 220px;
}

.x2 {
	margin-left: -579px;
	bottom: 510px;
	left: 50%;
}

.potion {
	left: 50%;
	margin-left: -609px;
	cursor: pointer;
	z-index: 1;
}

.bomb {
	left: 50%;
	margin-left: -481px;
	bottom: 335px;
}

.animation-delay {
	animation-delay: .4s;
}

.float {
	animation-name: float-landing-2wj_IS;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}